/* Variables */

$black-6: rgba(0, 0, 0, 0.02);
$black-3: rgba(0, 0, 0, 0.2);
$black-4: rgba(0, 0, 0, 0.698);
$black: rgba(0, 0, 0, 0.8);
$black-5: rgba(0, 0, 0, 0.949);
$black-2: rgba(0, 0, 0, 1);
$hunter-green: rgba(22, 22, 22, 0.2);
$hunter-green-2: rgba(22, 22, 22, 0.8);
$shark: rgba(39, 39, 39, 1);
$dodger-blue: rgba(51, 137, 255, 1);
$tundora: rgba(69, 69, 69, 1);
$fuscous-gray: rgba(81, 81, 81, 1);
$dove-gray-2: rgba(109, 109, 109, 1);
$dove-gray: rgba(113, 111, 111, 1);
$mountain-mist: rgba(153, 153, 153, 1);
$mist-gray: rgba(196, 196, 196, 1);
$cararra-2: rgba(235, 235, 235, 0.369);
$cararra: rgba(236, 236, 236, 1);
$gallery: rgba(236, 236, 239, 0.902);
$desert-storm: rgba(248, 248, 248, 1);
$white-4: rgba(255, 255, 255, 0.161);
$white-3: rgba(255, 255, 255, 0.6);
$white: rgba(255, 255, 255, 0.8);
$white-2: rgba(255, 255, 255, 0.902);
$icon: rgba(255, 255, 255, 1);

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 28px;
$font-size-xxxxl: 30px;
$font-size-12px: 12px;

$font-family-poppins: "Poppins";

