.rowed{
  width: calc(100% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 28px;
}

.properti-preview {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
}

.first-box {
  width: 100%; /* was formerly 340px*/
  margin: 0;
}

.image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.frame-12 {
  width: 100%; /* was formerly 340px*/
  margin: 0;
}

.padd {
  width: calc(100% - 56px);
  align-items: center;
  justify-content: center;
}

@media (max-width: 390px) {
  .first-box, .image,
  .frame-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .flex-row {
    flex-direction: row;
    width: 100%;
  }
  .group {
    width: 45%;
  }
  .first-box, .image,
  .frame-12 {
    width: 100%;
  }
  .no-item {
    width: 45%;
  }
}

@media (min-width: 1040px) {
  .group {
    width: 30%;
  }
  .first-box, .image,
  .frame-12 {
    width: 100%;
  }
  .flex-row {
    flex-direction: row;
    width: 100%;
  }
  .no-item {
    width: 30%;
  }
  .no-item-1 {
    width: 63%;
  }
}
