@import "../fonts.css";
@import "../presets.css";

.subscribe-wrapper {
    width: calc(100% - 36px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    background: #eaeeef;
    position: relative;
    border-radius: 8px;
    padding: 40px 15px;
    overflow: hidden;
}

.subscribe-header {
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
  width: calc(100%);
  z-index: 401;
}

.subscribe-note {
    margin-top: 24px;
    line-height: 24px;
    text-align: center;
    z-index: 402;
}

.subscribe-email-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe-input {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 403;
}

.subscribe-input-text {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    text-indent: 10px;
    z-index: 404;
}

.subscribe-input-text::placeholder {
  color: #a0a0a699;
}

.subscribe-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 405;
}

.button-primary {
  background-color: #3b7e62;
  border-radius: 4px;
  height: 40px;
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 406;
  position: relative;
  cursor: pointer;
}

.button-primary:hover {
  background: #559781;
  transition: 0.2s ease-in-out;
}

.button-primary-text {
  color: #fff;
  font-family: "Axiforma-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 1;
  width: 100%;
  white-space: nowrap;
  display: grid;
  justify-self: center;
  align-self: center;
  text-align: center;
  z-index: 407;
}

.subscribe-bg {
    height: 100%;
    right: 0px;
    position: absolute;
    top: 0;
    z-index: 399;
    display: none;
}

@media (min-width: 768px) {
    .subscribe-wrapper {
        width: 90%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .subscribe-bg {
        display: block;
    }
    .subscribe-header {
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        text-align: left;
    }
    .subscribe-email-section {
        flex-direction: row;
        width: 60%;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 30px;
    }
    .subscribe-button {
        width: 30%;
        margin-top: 0;
        margin-left: 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .subscribe-input {
        width: 70%;
        margin-top: 0;
    }
    .button-primary {
        width: max-content;
        min-width: 80px;
        padding: 16px;
    }
}

@media (max-width: 330px){
    .axiforma-bold-cod-gray-28px {
        font-size: 24px;
    }
}

@media (max-width: 270px) {
  .button-primary-text {
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
  }
}