@import "../../fonts.css";
@import "../../presets.css";

.feature-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 16px 12px;
  width: 340px;
  height: 128px;
  left: 0px;
  top: 220px;
  background: #ffffff;
  border: 1px solid #e5e5e6;
  box-sizing: border-box;
  border-radius: 0px 0px 12px 12px;
}

/* Inside Auto Layout */
.inner-container {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.containing-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 335px;
  height: 100px;
  left: 16px;
  top: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 100%;
  height: 44px;
  left: 0px;
  top: 0px;
}

.text-title {
  position: static;
  width: 100%;
  /* height: 16px; */
  left: 0px;
  top: 0px;
  font-family: var(--axiforma-medium-cod-gray-18px);
  font-size: var(--font-size-xl);
  line-height: 16px;
}

.text-location {
  position: static;
  /* width: 116px;
  height: 16px; */
  left: 0px;
  top: 28px;
  font-family: var(--axiforma-600-bold-cod-gray-14px);
  font-size: var(--font-size-m);
  line-height: 16px;
  color: #7e7e86;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 335px;
  height: 40px;
  left: 0px;
  top: 60px;
}

.bottom-section-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: static;
  height: 40px;
  left: 0px;
  top: 0px;
}

.price-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 8px;
  position: static;
  width: 107px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #e8f2ef;
  border-radius: 4px;
}

.price-right-text {
  position: static;
  width: 59px;
  height: 16px;
  left: 36px;
  top: 12px;
  font-family: var(--axiforma-regular-bold-black-16px);
  font-size: var(--font-size-l);
  line-height: 16px;
  color: #000000;
}

.price-left {
  width: 24px;
  height: 24px;
  color: #080808;
}

.bottom-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 184px;
  height: 24px;
  left: 151px;
  top: 8px;
}

.feature-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px 0px 4px;
  position: static;
  width: 47px;
  height: 24px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-radius: 4px;
}

.feature-icon {
  position: static;
  width: 24px;
  height: 24px;
  left: 4px;
  top: 0px;
}

.feature-amount {
  position: static;
  width: 7px;
  height: 16px;
  left: 32px;
  top: 4px;
  font-family: var(--axiforma-medium-black-12px);
  font-size: var(--font-size-s);
  line-height: 16px;
  color: #5e5e64;
}

@media (max-width: 370px){
    .feature-container, .containing-div, .bottom-section {
        width: 100%;
        height: auto;
    }
}