/* Variables */

:root {
  --black: rgba(0, 0, 0, 1);
  --darkmain-dark: rgba(8, 8, 8, 1);
  --primarymain-primary: rgba(59, 126, 98, 1);
  --dark800: rgba(94, 94, 100, 1);
  --dark700: rgba(126, 126, 134, 1);
  --dark600: rgba(160, 160, 166, 1);
  --dark300: rgba(229, 229, 230, 1);
  --darkwhite: rgba(255, 255, 255, 1);

  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 40px;
  --font-size-xxxxxl: 50px;

  --font-family-axiforma-bold: "Axiforma-Bold";
  --font-family-axiforma-medium: "Axiforma-Medium";
  --font-family-axiforma-regular: "Axiforma-Regular";
  --font-family-axiforma-semibold: "Axiforma-SemiBold";
}

/* Classes */

.axiforma-medium-black-12px {
  color: var(--black);
  font-family: var(--font-family-axiforma-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.axiforma-bold-cod-gray-14px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.axiforma-regular-normal-mid-gray-16px {
  color: var(--dark800);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.axiforma-semi-bold-cod-gray-20px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-semibold);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  font-style: normal;
}
.axiforma-regular-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.axiforma-bold-amazon-18px {
  color: var(--primarymain-primary);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.axiforma-semi-bold-santas-gray-12px {
  color: var(--dark600);
  font-family: var(--font-family-axiforma-semibold);
  font-size: var(--font-size-s);
  font-weight: 600;
  font-style: normal;
}
.axiforma-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.axiforma-bold-cod-gray-28px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}
.axiforma-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.axiforma-medium-cod-gray-18px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-style: normal;
}
.border-1px-dark300 {
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark300);
}
.axiforma-bold-amazon-40px {
  color: var(--primarymain-primary);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: normal;
}



.desktop-1366-ver2 {
  align-items: center;
  background-color: var(--darkwhite);
  display: flex;
  flex-direction: column;
  height: 4485px;
  position: relative;
  width: 100%;
  /* width: 1366px; */
}

.header {
  align-items: center;
  background-color: var(--darkwhite);
  display: flex;
  height: 98px;
  min-width: 95%;
  position: relative;
  justify-content:space-between;
}

.logo {
  height: 32px;
  width: 165px;
  align-items: flex-start;
  display: flex
}

.overlap-group2 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 520px;
  /* margin-right: 8.0px; */
  min-width: 95%;
  padding: 56px 40px;
}

.top-text-and-search {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 289px;
  width: 658px;
}

.frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 189px;
  width: 604px;
}

.text-2 {
  color: var(--darkwhite);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 73px;
}

.text-3 {
  color: var(--darkwhite);
  font-family: var(--font-family-axiforma-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 20px;
  min-height: 96px;
  width: 545px;
}

.searchinput {
  align-items: center;
  background-color: var(--darkwhite);
  border-radius: 80px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-top: 40px;
  min-width: 560px;
  padding: 0 12px;
  position: relative;
}

.ctasearch {
  height: 44px;
  /* margin-left: 50px; */
  width: 44px;
}

.text-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 80px;
  min-height: 39px;
  min-width: 597px;
  text-align: center;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 348px;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1141px;
  position: relative;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 348px;
  margin-left: 1.0px;
  margin-top: 28px;
  min-width: 1141px;
  position: relative;
}

.overlap-group1 {
  height: 39px;
  margin-left: 1.0px;
  margin-top: 80px;
  position: relative;
  width: 359px;
}

.text {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.benefits {
  align-items: flex-start;
  display: flex;
  height: 116px;
  margin-top: 37px;
  min-width: 850px;
  position: relative;
}

.how-to-buy-with-us {
  letter-spacing: 0;
  margin-left: 3.0px;
  margin-top: 28px;
  min-height: 23px;
  min-width: 137px;
  text-align: center;
  text-decoration: underline;
}

.vector-1 {
  height: 2px;
  margin-top: 56px;
  width: 1140px;
}

.our-partners {
  color: var(--dark700);
  font-family: var(--font-family-axiforma-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 1.20px;
  margin-top: 59px;
  min-height: 16px;
  min-width: 106px;
  text-align: center;
}

.overlap-group3 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 300px;
  margin-right: 2.0px;
  margin-top: 60px;
  min-width: 1140px;
  padding: 0 40px;
}

.frame-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 220px;
  width: 564px;
}

.frame-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  width: 564px;
}

.text-11 {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 96px;
}

.text-12 {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 28px;
}

.frame-23 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  margin-top: 40px;
  min-width: 414px;
  position: relative;
}

.text-6 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 80px;
  min-height: 39px;
  min-width: 397px;
  text-align: center;
}

.faq {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 568px;
  position: relative;
  width: 754px;
}

.calendly-section {
  height: 475px;
  margin-top: 104px;
  width: 100%;
  /* width: 1366px; */
}

.overlap-group {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/611bfeda331562400fadc1b1/releases/611c37a298305a35d443c704/img/footer@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 487px;
  margin-top: 80px;
  min-width: 100%;
  /* min-width: 1366px; */
  padding: 44px 211px;
}

.frame-43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 396px;
  width: 487px;
}

.logo-1 {
  height: 24px;
  margin-left: -0.04px;
  width: 124px;
}

.footer-items {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 332px;
  width: 487px;
}

.frame-39 {
  align-items: flex-start;
  display: flex;
  height: 140px;
  min-width: 487px;
  position: relative;
}

.items {
  align-items: flex-start;
  display: flex;
  height: 112px;
  margin-top: 80px;
  min-width: 339px;
  position: relative;
}

.frame-1 {
  align-items: flex-start;
  display: flex;
  /* margin-left: 542px; */
  min-width: 433px;
  position: relative;
}

.frame-3 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  margin-left: 40px;
  min-width: 247px;
  position: relative;
}

.x31612 {
  border-radius: 4px;
  height: 40px;
  opacity: 1;
  position: relative;
  width: 52px;
}

.x31612:hover {
  background: #E8F2EF;
  cursor: pointer;
}

.button-i316122135-dMLMMl {
  color: #080808;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.button-i316122135-dMLMMl a {
  cursor: pointer;
  color:rgba(0, 0, 0, 1)
}

.button-i316122135-dMLMMl:hover {
  /* background: #E8F2EF; */
  /* border-radius: 4; */
  /* padding: 10px 20px; */
}

.x31612.x31613 {
  margin-left: 40px;
  width: 54px;
}

.x31615 {
  background-color: #3b7e62;
  border-radius: 4px;
  height: 40px;
  opacity: 1;
  position: relative;
  width: 166px;
}

.button-i31615249-OAYiOw {
  color: #ffffff;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.x31615.x31650 {
  margin-top: 24px;
  width: 1140px;
}

.button-i31650249-Y7AYrA {
  left: 438px;
}

.x31615.x31669 {
  margin-left: 12px;
  width: 102px;
}

.x31616 {
  background-color: #e5e5e6;
  border-radius: 4px;
  height: 40px;
  margin-left: 12px;
  opacity: 1;
  position: relative;
  width: 69px;
}

.x31615:hover {
  background: #559781;
}

.button-i316164470-SbgD5E {
  color: #080808;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.search {
  align-items: flex-start;
  display: flex;
  /* min-width: 208px; */
}

.iconslocationon {
  height: 24px;
  width: 24px;
}

.search-for-location {
  background-color: transparent;
  border: 0;
  flex-shrink: 1;
  height: 25px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 12px;
  mix-blend-mode: normal;
  padding: 0;
  resize: none;
  text-align: left;
  width: 420px;
}

.search-for-location::placeholder {
  color: #08080899;
}

.filters {
  align-items: flex-start;
  display: flex;
  height: 40px;
  margin-top: 24px;
  min-width: 718px;
  position: relative;
}

.x31642 {
  background-color: #080808;
  border-radius: 100px;
  height: 40px;
  opacity: 1;
  position: relative;
  width: 192px;
}

.button-i316422277-4ndSxV {
  color: #ffffff;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.x31643 {
  background-color: #f6f6f6;
  border-radius: 100px;
  height: 40px;
  margin-left: 24px;
  opacity: 1;
  position: relative;
  width: 88px;
}

.button-i316432285-LWwZsd {
  color: #080808;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.x31643.x31644 {
  width: 90px;
}

.x31643.x31645 {
  width: 81px;
}

.x31643.x31646 {
  width: 171px;
}

.group-2 {
  align-items: flex-start;
  display: flex;
  height: 348px;
  min-width: 367px;
  position: relative;
}

.group-2.group-1 {
  margin-left: 20px;
}

.properti-preview {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 348px;
  width: 367px;
}

.image {
  height: 220px;
  width: 367px;
}

.frame-12 {
  height: 128px;
  width: 367px;
}

.x31651 {
  background-color: #f6f6f6;
  border-radius: 100px;
  height: 47px;
  margin-right: 1.0px;
  margin-top: 20px;
  opacity: 1;
  width: 221px;
}

.frame-17-qUTKev {
  border-radius: 100px;
  height: 39px;
  left: 4px;
  opacity: 1;
  position: relative;
  top: 4px;
  width: 213px;
}

.frame-16-xzEGZJ {
  background-color: #080808;
  border-radius: 100px;
  height: 39px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 106px;
}

.text-7-GfdtPY {
  color: #ffffff;
  font-family: 'Axiforma-Bold', Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
}

.frame-15-xzEGZJ {
  border-radius: 100px;
  height: 39px;
  left: 110px;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 103px;
}

.text-8-dBGksx {
  color: #080808;
  font-family: 'Axiforma-Bold', Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
}

.benefits-1 {
  align-items: flex-end;
  background-color: var(--darkwhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 116px;
  padding: 12px 14px;
  width: 270px;
}

.frame-19 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: 4px;
  min-width: 238px;
}

.iconssupportagentblack24dp {
  height: 32px;
  width: 32px;
}

.text-9 {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 30px;
  width: 196px;
}

.text-10 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 44px;
  width: 240px;
}

.benefits-2 {
  align-items: flex-end;
  background-color: var(--darkwhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 116px;
  padding: 12px 14px;
  width: 270px;
}

.frame-19-1 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 32px;
  margin-top: 4px;
  min-width: 238px;
  position: relative;
}

.free-support-i31654 {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 30px;
  width: 196px;
}

.one-year-support-on {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 44px;
  width: 240px;
}

.iconsadminpane-gsblack24dp-1 {
  align-items: flex-end;
  display: flex;
  height: 32px;
  padding: 1.3px;
  width: 32px;
}

.overlap-group4 {
  height: 27px;
  margin-left: 3px;
  position: relative;
  width: 27px;
}

.vector {
  height: 1px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 1px;
}

.group-3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/611bfeda331562400fadc1b1/releases/611c37a298305a35d443c704/img/group@2x.png);
  background-size: 100% 100%;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27px;
}

.benefits-3 {
  align-items: flex-end;
  background-color: var(--darkwhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 116px;
  padding: 12px 14px;
  width: 270px;
}

.frame-19-2 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 32px;
  margin-top: 4px;
  min-width: 238px;
  position: relative;
}

.free-support-i31655 {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 30px;
  width: 196px;
}

.one-year-support-on-1 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 44px;
  width: 240px;
}

.iconshistoryedublack24dp {
  align-items: flex-start;
  display: flex;
  height: 32px;
  overflow: hidden;
  width: 32px;
}

.overlap-group4-1 {
  height: 22px;
  margin-top: -0.33px;
  position: relative;
  width: 26px;
}

.vector-2 {
  height: 1px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 1px;
}

.group-4 {
  height: 22px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 26px;
}

.logos {
  align-items: flex-start;
  display: flex;
  margin-right: 0.42px;
  margin-top: 32px;
  min-width: 704px;
}

.image-1-1 {
  height: 60px;
  object-fit: cover;
  width: 80px;
}

.image-1 {
  height: 60px;
  margin-left: 80px;
  object-fit: cover;
  width: 80px;
}

.image-4 {
  height: 60px;
  margin-left: 79px;
  object-fit: cover;
  width: 64px;
}

.image-5 {
  height: 60px;
  margin-left: 79px;
  object-fit: cover;
  width: 80px;
}

.input {
  align-items: center;
  background-color: var(--darkwhite);
  border-radius: 8px;
  display: flex;
  height: 40px;
  min-width: 300px;
  padding: 0 12px;
}

.placeholder-i3166831372 {
  background-color: transparent;
  border: 0;
  color: var(--dark600);
  flex-shrink: 1;
  font-family: var(--font-family-axiforma-medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  mix-blend-mode: normal;
  padding: 0;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 114px;
}

.placeholder-i3166831372::placeholder {
  color: #a0a0a699;
}

.x31685 {
  background-color: #ffffff;
  border: 1px solid #e5e5e6;
  border-radius: 4px;
  height: 364px;
  opacity: 1;
  position: relative;
  width: 754px;
}

.frame-27-6Qgaoy {
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 16px;
  width: 722px;
}

.text-13-0BLqHP {
  color: #080808;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 574px;
}

.iconskeyboardarrowdown-0BLqHP {
  height: 24px;
  left: 698px;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 24px;
}

.frame-28-6Qgaoy {
  height: 308px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 40px;
  width: 722px;
}

.text-14-ULAsjc {
  color: #5e5e64;
  font-family: 'Axiforma-Regular', Helvetica;
  font-size: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  top: 16px;
  width: 724px;
}

.x31686 {
  border: 1px solid #e5e5e6;
  border-radius: 4px;
  height: 56px;
  margin-top: 12px;
  opacity: 1;
  position: relative;
  width: 754px;
}

.how-is-landearn-diff-e1YXdj {
  color: #080808;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 690px;
}

.iconskeyboardarrowright-e1YXdj {
  height: 24px;
  left: 714px;
  opacity: 1;
  position: absolute;
  top: 16px;
  width: 24px;
}

.x31687 {
  border: 1px solid #e5e5e6;
  border-radius: 4px;
  height: 56px;
  margin-top: 12px;
  opacity: 1;
  position: relative;
  width: 754px;
}

.how-is-landearn-diff-TTk3mj {
  color: #080808;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 690px;
}

.iconskeyboardarrowright-TTk3mj {
  height: 24px;
  left: 714px;
  opacity: 1;
  position: absolute;
  top: 16px;
  width: 24px;
}

.x31688 {
  border: 1px solid #e5e5e6;
  border-radius: 4px;
  height: 56px;
  margin-top: 12px;
  opacity: 1;
  position: relative;
  width: 754px;
}

.how-is-landearn-diff-t4iCPG {
  color: #080808;
  font-family: 'Axiforma-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 690px;
}

.iconskeyboardarrowright-t4iCPG {
  height: 24px;
  left: 714px;
  opacity: 1;
  position: absolute;
  top: 16px;
  width: 24px;
}

.frame-36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  width: 105px;
}

.buy {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 100px;
  width: 98px;
}

.frame-35-item {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 12px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  min-height: 140px;
  width: 91px;
}

.business {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-35-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 100px;
  width: 91px;
}

.company {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-35-item-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 12px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  min-height: 140px;
  width: 131px;
}

.privacy-and-terms {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-35-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 100px;
  width: 131px;
}

.text-15 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-35-item-2 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 12px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-36-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 112px;
  width: 103px;
}

.sell {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-35-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 72px;
  width: 88px;
}

.frame-35-item-3 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 12px;
  min-height: 16px;
  white-space: nowrap;
}

.bottom {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 82px;
  min-height: 112px;
  width: 154px;
}

.agent {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-35-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 72px;
  width: 154px;
}

.text-1-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 12px;
  min-height: 16px;
  white-space: nowrap;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Axiforma-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Axiforma-Medium.woff") format("woff");
}
@font-face {
  font-family: "Axiforma-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Axiforma-Bold.woff") format("woff");
}
@font-face {
  font-family: "Axiforma-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Axiforma-Regular.woff") format("woff");
}
.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
