:root {
  --black: rgba(0, 0, 0, 1);
  --darkmain-dark: rgba(8, 8, 8, 1);
  --primarymain-primary: rgba(59, 126, 98, 1);
  --dark800: rgba(94, 94, 100, 1);
  --dark700: rgba(126, 126, 134, 1);
  --dark600: rgba(160, 160, 166, 1);
  --dark300: rgba(229, 229, 230, 1);
  --darkwhite: rgba(255, 255, 255, 1);

  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xl2: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 40px;
  --font-size-xxxxl2: 40px;
  --font-size-xxxxxl: 50px;

  --font-family-axiforma-bold: "Axiforma-Bold";
  --font-family-axiforma-medium: "Axiforma-Medium";
  --font-family-axiforma-regular: "Axiforma-Regular";
  --font-family-axiforma-semibold: "Axiforma-SemiBold";
}

/* Classes */

.axiforma-medium-black-12px {
  color: var(--black);
  font-family: var(--font-family-axiforma-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.axiforma-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-axiforma-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.axiforma-bold-cod-gray-14px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.axiforma-600-bold-cod-gray-14px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}
.axiforma-regular-normal-mid-gray-16px {
  color: var(--dark800);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.axiforma-semi-bold-cod-gray-20px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  font-style: normal;
}
.axiforma-bold-cod-gray-20px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.axiforma-regular-normal-santas-gray-14px {
  color: var(--dark600);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.axiforma-regular-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
.axiforma-bold-amazon-18px {
  color: var(--primarymain-primary);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.axiforma-bold-semi-18px {
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.axiforma-semi-bold-santas-gray-12px {
  color: var(--dark600);
  font-family: var(--font-family-axiforma-semibold);
  font-size: var(--font-size-s);
  font-weight: 600;
  font-style: normal;
}
.axiforma-regular-normal-jumbo-12px {
  color: var(--dark700);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.axiforma-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.axiforma-bold-cod-gray-28px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}
.axiforma-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-axiforma-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.axiforma-regular-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}
.axiforma-regular-cod-black-16px {
  color: var(--black);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-l);
  font-weight: 500;
  font-style: normal;
}
.axiforma-medium-cod-gray-18px {
  color: var(--darkmain-dark);
  font-family: var(--font-family-axiforma-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-style: normal;
}
.border-1px-dark300 {
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark300);
}
.axiforma-bold-amazon-40px {
  color: var(--primarymain-primary);
  font-family: var(--font-family-axiforma-bold);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: normal;
}
