.partner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 90%;

}

.partner-title {
    padding: 0 20px 20px 20px;
    color: #7E7E86;
}

.partner-logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    overflow: auto;
}

.partner-logos::-webkit-scrollbar {
    display: none;
}

.partner-pic {
    height: 60px;
    margin-right: 40px;
    cursor: pointer;
}

@media (max-width: 1140px) {
    .partner-title {
        display: none;
    }
}

@media (max-width: 768px) {
    .partner-logos {
        justify-content: flex-start;
        /* align-items: center; */
    }
}