.container_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.benefits_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add_margin_top {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits {
  align-items: flex-start;
  background-color: var(--darkwhite);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  padding: 16px 14px;
  width: calc(100% - 48px);
  margin-top: 30px;
}

.frame-19 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  /* min-width: 234px; */
}

.iconssupportagentblack24dp {
  height: 32px;
  width: 32px;
}

.text-10 {
  letter-spacing: 0;
  margin-left: 12px;
  min-height: 30px;
  margin-top: 10px;
  /* width: 192px; */
  /* padding-top: 5px; */
}

.text-11 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 44px;
  /* width: 236px; */
}

.linker {
  color: #080808;
  text-decoration: underline;
  line-height: 23px;
  text-align: center;
}

.linker:hover {
  text-decoration: none;
}

@media (min-width: 769px){
  .benefits_wrap {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .benefits {
    width: 30%;
    min-height: 150px;
  }
}

@media (max-width: 270px){
  .iconssupportagentblack24dp {
    display: none;
  }

  .text-10 {
    margin-left: 0;
  }
}